.app {
  /* flex: 1; */
  /* display: grid; */
  /* place-items: center; */
  background-color: #fdfdfd;
}

.appWrapper {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.toolbar {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.button {
  padding: 6px 12px;
  font-size: 16px;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #0b5ed7;
}

h2 {
  text-align: center;
  color: black;
}
