.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  color: black;
}

.headerLink {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.headerLink:hover {
  color: #ddd;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navigationItem {
  display: flex;
  align-items: center;
}

.navigationLink {
  text-decoration: none;
  color: #888;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.navigationLink:hover {
  color: #ddd;
}

.usersGroupedButton {
  font-weight: 600;
  /* color: #0d6efd; */
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}
